@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --dark: #000;
    --white: ##E5E5E5;
    --white2: #FFFFFF;
}

body {
    width: 100vw;
    height: 100vh;
    /* color: var(--dark); */
    background: var(--white);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    transition: all 0.5s;
    position: absolute;
    top: 156px;
    left: 406px;
    z-index: 1;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    color: var(--white2);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover {
    color: var(--white);
    
}

.container {

    position: absolute;
    width: 1667px;
    height: 796px;
    left: 10vw;
    top: 82px;
    background: #0071BD;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.75);
    z-index: 0;
}

.container #img1 {
    position: absolute;
    width: 506px;
    height: 339px;
    left: 340px;
    top: 203px;
}

.container #img2 {
    position: absolute;
    width: 1392px;
    height: 765px;
    left: 600px;
    top: 30px;

}

.container #img3 {
    position: absolute;
    left: 593px;
    right: 0%;
    top: 627px;
    bottom: 55px;

}

.container #img3:hover {
    cursor: pointer;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.75);
    border-radius: 100%;
}

.container span {
    position: absolute;
    width: 333.74px;
    height: 144px;
    left: 280px;
    top: 607px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 65px;
    color: #fff
}